h1{
    color:rgb(17, 17, 19)
}
img{
    width: 400px;
}
#thirdDiv{

   height: 900px; 
    width: 500px;
    background-color: rgba(241, 240, 168, 0.863);
    font-style: oblique; 
    font-size: larger;
    border-color: blanchedalmond;
    border: thick double #32a1ce;
}
#spanId{
    font-size: 18px;
    margin: 50px;
    color: rgb(1, 1, 8);
    font-style: oblique;
}
.divClass{
padding: 50px rgb(40, 40, 83); 
border: 2px solid rgba(13, 13, 65, 0.822);

}
h3{
    color: rgb(2, 3, 3);
}